body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.heading {
  text-align: center;
}
.heading::after {
  content: "";
  display: block;
  border-bottom: 3px solid rgb(0, 128, 85);
  width: 20%; /* Adjust the width as needed */
  margin: auto; /* Centers the underline */
}
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}
.card-item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ebebeb;
}
.card-item:hover {
  background-color: rgb(0, 128, 85);
  cursor: pointer;
  color: white;
}
.card-item img {
  width: 100%;
  height: auto;
  display: block;
}
.description-item {
  text-align: center;
}
.card-name {
  font-weight: bold;
}
